<P>labelsArray2= <%=@labelsArray2%></P>
<P>enabling to print = <%=@print%></P>
<P>deployment status = <%=@deployment%></P>
<P>server print = <%=@printServer = cookies[:print]%></P>
<P>csv Read = <%=@csvRead%></P>
<P>col 3 = <%=@csvColumn3%></P>
<P>labels uri = <%=@labelURI%></P>
<P>debug1 = <%=@debug1%></P>
<P>debug2 = <%=@debug2%></P>
<P>debug3 = <%=@debug3%></P>
<P>debug4 = <%=@debug4%></P>
<P>debug5 = <%=@debug5%></P>
<P>debug6 = <%=@debug6%></P>
<P>debug7 = <%=@debug7%></P>
<P>debug8 = <%=@debug8%></P>
<P>debug9 = <%=@debug9%></P>
<P>debug10 = <%=@debug10%></P>
<P>debug11= <%=@debug11%></P>
<P>debug12 = <%=@debug12%></P>
<P>debug13 = <%=@debug13%></P>