

<%########URLs from controller with all the labels %>
<%=@hardcodedURLsC = @labelsArray2%>
<P>from the DB urls = <%##=@hardcodedURLsDB = Url.find_by_account_number(@accountNumber).urls%></p>
<P>is ftp2= <%##=IsFTp.find_by_account_number(@accountNumber).isFTP%></P>
<P>labelsArray2= <%=@labelsArray2%></P>
<P>enabling to print = <%=@printX%></P>
<P>deployment status = <%=@deployment%></P>
<P>server print = <%=@printServer = cookies[:print]%></P>
<P>csv Read = <%=@csvRead%></P>
<P>col 3 array T= <%=@col3T%></P>
<P>labels uri = <%=@labelURI%></P>
<P>debug1 = <%=@labelsArrayDB%></P>
<P>debug2 = <%=@csvLenght%></P>
<P>@debug  = <%= @debug%></P>
