<%= form_with(model: mapping, local: true) do |form| %>
  <% if mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mapping.errors.count, "error") %> prohibited this mapping from being saved:</h2>

      <ul>
      <% mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_number %>
     <%= form.text_field :accountNumber, :value => @current_user.email[0, 6]   %>
  </div>

  <div class="field">
    <%= form.label :a1 %>
    <%= form.number_field :a1 %>
  </div>

  <div class="field">
    <%= form.label :b2 %>
    <%= form.number_field :b2 %>
  </div>

  <div class="field">
    <%= form.label :c3 %>
    <%= form.number_field :c3 %>
  </div>

  <div class="field">
    <%= form.label :d4 %>
    <%= form.number_field :d4 %>
  </div>

  <div class="field">
    <%= form.label :e5 %>
    <%= form.number_field :e5 %>
  </div>

  <div class="field">
    <%= form.label :f6 %>
    <%= form.number_field :f6 %>
  </div>

  <div class="field">
    <%= form.label :g7 %>
    <%= form.number_field :g7 %>
  </div>

  <div class="field">
    <%= form.label :h8 %>
    <%= form.number_field :h8 %>
  </div>

  <div class="field">
    <%= form.label :i9 %>
    <%= form.number_field :i9 %>
  </div>

  <div class="field">
    <%= form.label :j10 %>
    <%= form.number_field :j10 %>
  </div>

  <div class="field">
    <%= form.label :k11 %>
    <%= form.number_field :k11 %>
  </div>

  <div class="field">
    <%= form.label :l12 %>
    <%= form.number_field :l12 %>
  </div>

  <div class="field">
    <%= form.label :m13 %>
    <%= form.number_field :m13 %>
  </div>

  <div class="field">
    <%= form.label :n14 %>
    <%= form.number_field :n14 %>
  </div>

  <div class="field">
    <%= form.label :o15 %>
    <%= form.number_field :o15 %>
  </div>

  <div class="field">
    <%= form.label :p16 %>
    <%= form.number_field :p16 %>
  </div>

  <div class="field">
    <%= form.label :q17 %>
    <%= form.number_field :q17 %>
  </div>

  <div class="field">
    <%= form.label :r18 %>
    <%= form.number_field :r18 %>
  </div>

  <div class="field">
    <%= form.label :s19 %>
    <%= form.number_field :s19 %>
  </div>

  <div class="field">
    <%= form.label :t20 %>
    <%= form.number_field :t20 %>
  </div>

  <div class="field">
    <%= form.label :u21 %>
    <%= form.number_field :u21 %>
  </div>

  <div class="field">
    <%= form.label :v22 %>
    <%= form.number_field :v22 %>
  </div>

  <div class="field">
    <%= form.label :w23 %>
    <%= form.number_field :w23 %>
  </div>

  <div class="field">
    <%= form.label :x24 %>
    <%= form.number_field :x24 %>
  </div>

  <div class="field">
    <%= form.label :y25 %>
    <%= form.number_field :y25 %>
  </div>

  <div class="field">
    <%= form.label :z26 %>
    <%= form.number_field :z26 %>
  </div>

  <div class="field">
    <%= form.label :aa27 %>
    <%= form.number_field :aa27 %>
  </div>

  <div class="field">
    <%= form.label :ab28 %>
    <%= form.number_field :ab28 %>
  </div>

  <div class="field">
    <%= form.label :ac29 %>
    <%= form.number_field :ac29 %>
  </div>

  <div class="field">
    <%= form.label :ad30 %>
    <%= form.number_field :ad30 %>
  </div>

  <div class="field">
    <%= form.label :ae31 %>
    <%= form.number_field :ae31 %>
  </div>

  <div class="field">
    <%= form.label :af32 %>
    <%= form.number_field :af32 %>
  </div>

  <div class="field">
    <%= form.label :ag33 %>
    <%= form.number_field :ag33 %>
  </div>

  <div class="field">
    <%= form.label :ah34 %>
    <%= form.number_field :ah34 %>
  </div>

  <div class="field">
    <%= form.label :ai35 %>
    <%= form.number_field :ai35 %>
  </div>

  <div class="field">
    <%= form.label :aj36 %>
    <%= form.number_field :aj36 %>
  </div>

  <div class="field">
    <%= form.label :ak37 %>
    <%= form.number_field :ak37 %>
  </div>

  <div class="field">
    <%= form.label :al38 %>
    <%= form.number_field :al38 %>
  </div>

  <div class="field">
    <%= form.label :am39 %>
    <%= form.number_field :am39 %>
  </div>

  <div class="field">
    <%= form.label :an40 %>
    <%= form.number_field :an40 %>
  </div>

  <div class="field">
    <%= form.label :ao41 %>
    <%= form.number_field :ao41 %>
  </div>

  <div class="field">
    <%= form.label :ap42 %>
    <%= form.number_field :ap42 %>
  </div>

  <div class="field">
    <%= form.label :aq43 %>
    <%= form.number_field :aq43 %>
  </div>

  <div class="field">
    <%= form.label :ar44 %>
    <%= form.number_field :ar44 %>
  </div>

  <div class="field">
    <%= form.label :as45 %>
    <%= form.number_field :as45 %>
  </div>

  <div class="field">
    <%= form.label :at46 %>
    <%= form.number_field :at46 %>
  </div>

  <div class="field">
    <%= form.label :au47 %>
    <%= form.number_field :au47 %>
  </div>

  <div class="field">
    <%= form.label :av48 %>
    <%= form.number_field :av48 %>
  </div>

  <div class="field">
    <%= form.label :aw49 %>
    <%= form.number_field :aw49 %>
  </div>

  <div class="field">
    <%= form.label :ax50 %>
    <%= form.number_field :ax50 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
