<p id="notice"><%= notice %></p>

<h1>Mappings</h1>

<table>
  <thead>
    <tr>
      <th>A1</th>
      <th>B2</th>
      <th>C3</th>
      <th>D4</th>
      <th>E5</th>
      <th>F6</th>
      <th>G7</th>
      <th>H8</th>
      <th>I9</th>
      <th>J10</th>
      <th>K11</th>
      <th>L12</th>
      <th>M13</th>
      <th>N14</th>
      <th>O15</th>
      <th>P16</th>
      <th>Q17</th>
      <th>R18</th>
      <th>S19</th>
      <th>T20</th>
      <th>U21</th>
      <th>V22</th>
      <th>W23</th>
      <th>X24</th>
      <th>Y25</th>
      <th>Z26</th>
      <th>Aa27</th>
      <th>Ab28</th>
      <th>Ac29</th>
      <th>Ad30</th>
      <th>Ae31</th>
      <th>Af32</th>
      <th>Ag33</th>
      <th>Ah34</th>
      <th>Ai35</th>
      <th>Aj36</th>
      <th>Ak37</th>
      <th>Al38</th>
      <th>Am39</th>
      <th>An40</th>
      <th>Ao41</th>
      <th>Ap42</th>
      <th>Aq43</th>
      <th>Ar44</th>
      <th>As45</th>
      <th>At46</th>
      <th>Au47</th>
      <th>Av48</th>
      <th>Aw49</th>
      <th>Ax50</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mappings.each do |mapping| %>
      <tr>
        <td><%= mapping.a1 %></td>
        <td><%= mapping.b2 %></td>
        <td><%= mapping.c3 %></td>
        <td><%= mapping.d4 %></td>
        <td><%= mapping.e5 %></td>
        <td><%= mapping.f6 %></td>
        <td><%= mapping.g7 %></td>
        <td><%= mapping.h8 %></td>
        <td><%= mapping.i9 %></td>
        <td><%= mapping.j10 %></td>
        <td><%= mapping.k11 %></td>
        <td><%= mapping.l12 %></td>
        <td><%= mapping.m13 %></td>
        <td><%= mapping.n14 %></td>
        <td><%= mapping.o15 %></td>
        <td><%= mapping.p16 %></td>
        <td><%= mapping.q17 %></td>
        <td><%= mapping.r18 %></td>
        <td><%= mapping.s19 %></td>
        <td><%= mapping.t20 %></td>
        <td><%= mapping.u21 %></td>
        <td><%= mapping.v22 %></td>
        <td><%= mapping.w23 %></td>
        <td><%= mapping.x24 %></td>
        <td><%= mapping.y25 %></td>
        <td><%= mapping.z26 %></td>
        <td><%= mapping.aa27 %></td>
        <td><%= mapping.ab28 %></td>
        <td><%= mapping.ac29 %></td>
        <td><%= mapping.ad30 %></td>
        <td><%= mapping.ae31 %></td>
        <td><%= mapping.af32 %></td>
        <td><%= mapping.ag33 %></td>
        <td><%= mapping.ah34 %></td>
        <td><%= mapping.ai35 %></td>
        <td><%= mapping.aj36 %></td>
        <td><%= mapping.ak37 %></td>
        <td><%= mapping.al38 %></td>
        <td><%= mapping.am39 %></td>
        <td><%= mapping.an40 %></td>
        <td><%= mapping.ao41 %></td>
        <td><%= mapping.ap42 %></td>
        <td><%= mapping.aq43 %></td>
        <td><%= mapping.ar44 %></td>
        <td><%= mapping.as45 %></td>
        <td><%= mapping.at46 %></td>
        <td><%= mapping.au47 %></td>
        <td><%= mapping.av48 %></td>
        <td><%= mapping.aw49 %></td>
        <td><%= mapping.ax50 %></td>
        <td><%= link_to 'Show', mapping %></td>
        <td><%= link_to 'Edit', edit_mapping_path(mapping) %></td>
        <td><%= link_to 'Destroy', mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mapping', new_mapping_path %>
