<p id="notice"><%= notice %></p>

<p>
  <strong>Account number:</strong>
  <%= @mapping.account_number %>
</p>

<p>
  <strong>A1:</strong>
  <%= @mapping.a1 %>
</p>

<p>
  <strong>B2:</strong>
  <%= @mapping.b2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @mapping.c3 %>
</p>

<p>
  <strong>D4:</strong>
  <%= @mapping.d4 %>
</p>

<p>
  <strong>E5:</strong>
  <%= @mapping.e5 %>
</p>

<p>
  <strong>F6:</strong>
  <%= @mapping.f6 %>
</p>

<p>
  <strong>G7:</strong>
  <%= @mapping.g7 %>
</p>

<p>
  <strong>H8:</strong>
  <%= @mapping.h8 %>
</p>

<p>
  <strong>I9:</strong>
  <%= @mapping.i9 %>
</p>

<p>
  <strong>J10:</strong>
  <%= @mapping.j10 %>
</p>

<p>
  <strong>K11:</strong>
  <%= @mapping.k11 %>
</p>

<p>
  <strong>L12:</strong>
  <%= @mapping.l12 %>
</p>

<p>
  <strong>M13:</strong>
  <%= @mapping.m13 %>
</p>

<p>
  <strong>N14:</strong>
  <%= @mapping.n14 %>
</p>

<p>
  <strong>O15:</strong>
  <%= @mapping.o15 %>
</p>

<p>
  <strong>P16:</strong>
  <%= @mapping.p16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @mapping.q17 %>
</p>

<p>
  <strong>R18:</strong>
  <%= @mapping.r18 %>
</p>

<p>
  <strong>S19:</strong>
  <%= @mapping.s19 %>
</p>

<p>
  <strong>T20:</strong>
  <%= @mapping.t20 %>
</p>

<p>
  <strong>U21:</strong>
  <%= @mapping.u21 %>
</p>

<p>
  <strong>V22:</strong>
  <%= @mapping.v22 %>
</p>

<p>
  <strong>W23:</strong>
  <%= @mapping.w23 %>
</p>

<p>
  <strong>X24:</strong>
  <%= @mapping.x24 %>
</p>

<p>
  <strong>Y25:</strong>
  <%= @mapping.y25 %>
</p>

<p>
  <strong>Z26:</strong>
  <%= @mapping.z26 %>
</p>

<p>
  <strong>Aa27:</strong>
  <%= @mapping.aa27 %>
</p>

<p>
  <strong>Ab28:</strong>
  <%= @mapping.ab28 %>
</p>

<p>
  <strong>Ac29:</strong>
  <%= @mapping.ac29 %>
</p>

<p>
  <strong>Ad30:</strong>
  <%= @mapping.ad30 %>
</p>

<p>
  <strong>Ae31:</strong>
  <%= @mapping.ae31 %>
</p>

<p>
  <strong>Af32:</strong>
  <%= @mapping.af32 %>
</p>

<p>
  <strong>Ag33:</strong>
  <%= @mapping.ag33 %>
</p>

<p>
  <strong>Ah34:</strong>
  <%= @mapping.ah34 %>
</p>

<p>
  <strong>Ai35:</strong>
  <%= @mapping.ai35 %>
</p>

<p>
  <strong>Aj36:</strong>
  <%= @mapping.aj36 %>
</p>

<p>
  <strong>Ak37:</strong>
  <%= @mapping.ak37 %>
</p>

<p>
  <strong>Al38:</strong>
  <%= @mapping.al38 %>
</p>

<p>
  <strong>Am39:</strong>
  <%= @mapping.am39 %>
</p>

<p>
  <strong>An40:</strong>
  <%= @mapping.an40 %>
</p>

<p>
  <strong>Ao41:</strong>
  <%= @mapping.ao41 %>
</p>

<p>
  <strong>Ap42:</strong>
  <%= @mapping.ap42 %>
</p>

<p>
  <strong>Aq43:</strong>
  <%= @mapping.aq43 %>
</p>

<p>
  <strong>Ar44:</strong>
  <%= @mapping.ar44 %>
</p>

<p>
  <strong>As45:</strong>
  <%= @mapping.as45 %>
</p>

<p>
  <strong>At46:</strong>
  <%= @mapping.at46 %>
</p>

<p>
  <strong>Au47:</strong>
  <%= @mapping.au47 %>
</p>

<p>
  <strong>Av48:</strong>
  <%= @mapping.av48 %>
</p>

<p>
  <strong>Aw49:</strong>
  <%= @mapping.aw49 %>
</p>

<p>
  <strong>Ax50:</strong>
  <%= @mapping.ax50 %>
</p>

<%= link_to 'Edit', edit_mapping_path(@mapping) %> |
<%= link_to 'Back', mappings_path %>
