<%= form_with(model: is_f_tp, local: true) do |form| %>
  <% if is_f_tp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(is_f_tp.errors.count, "error") %> prohibited this is_f_tp from being saved:</h2>

      <ul>
      <% is_f_tp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isFTP %>
    <%= form.text_field :isFTP %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
