<p id="notice"><%= notice %></p>

<h1>Is F Tps</h1>

<table>
  <thead>
    <tr>
      <th>Isftp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @is_f_tps.each do |is_f_tp| %>
      <tr>
        <td><%= is_f_tp.isFTP %></td>
        <td><%= link_to 'Show', is_f_tp %></td>
        <td><%= link_to 'Edit', edit_is_f_tp_path(is_f_tp) %></td>
        <td><%= link_to 'Destroy', is_f_tp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Is F Tp', new_is_f_tp_path %>
