<p id="notice"><%= notice %></p>

<p>
  <strong>Isftp:</strong>
  <%= @is_f_tp.isFTP %>
  <%= @is_f_tp.account_number %>
</p>

<%= link_to 'Edit', edit_is_f_tp_path(@is_f_tp) %> |
<%= link_to 'Back', is_f_tps_path %>
